html {
   /*background: url(../img/1.svg) no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.map-trace {
   position: fixed;
   min-width: 30%;
   min-height: 30%;
   /*border: 1px solid green;*/
   background-color: black;
   bottom: 4%;
   right: 4%;

   overflow: hidden;


}

.dot {
   width: 10px;
   height: 10px;
   background: red;
   -moz-border-radius: 100%;
   -webkit-border-radius: 100%;
   border-radius: 100%;
   background-color: orange;

   position: absolute;
   bottom: 50%;
   left: 50%;
   z-index: 40;

   -webkit-transition: margin-bottom 15s ease;
    transition: margin-bottom 15s ease;
    -webkit-transition-delay: 4s;
    transition-delay: 4s;
}

.path-image {
   position: absolute;
   bottom: 50%;
   left: 50%;
   z-index: 20;
   margin-left: -61px;

   -webkit-transition: margin-bottom 15s ease;
    transition: margin-bottom 15s ease;
    -webkit-transition-delay: 4s;
    transition-delay: 4s;
}

.cover {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 50%;
   left: 0;
   z-index: 30;
   background-color: black;


}

.text {
   position: absolute;
   height: 300px;
   width: 200px;
   overflow: scroll-y;
   top: 5%;
   left: 5%;
}

.question {
   font-family: helvetica;
   font-weight: bold;
   font-size: 1em;
   line-height: 1.4em;
   color: rgba(45, 45, 45, 0.7);
}

.highlight {
   color: rgba(101,200,0,0.7);
}

form {
   opacity: 0.5;
}

.error {
   color: rgba(255,0,0,0.7);
}


#index-wrapper {
   width: 100vw;
   height: 100vh;
   display: flex;
}

#index-title {
   margin: auto;
   width: 60%;
   text-align: center;
   color: rgb(161,130,0);
}

#index-title h1 {
   font-size: 2em;
}

#index-title p:last-child {
   font-size: 1.5em;
   font-weight: bold;
   background-color: rgba(101,200,0,0.7);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;

}

#index-title a {
   color: white;
}
