/***** Fonts *****/
@font-face {
  font-family: 'FF-Bau';
  src: url("../fonts/BauWeb.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'FF-Bau';
  src: url("../fonts/BauWeb-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
html {
  /*background: url(../img/1.svg) no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  font-size: 100%;
  background-color: #000 !important;
}

body {
  font-family: "FF-Bau", "Helvetica Neue", helvetica, arial, sans-serif;
  max-width: 500px;
  background-color: transparent;
}

header #top-bar {
  width: 100%;
  height: 2.5rem;
  /* 80px/1136px*/
  background-color: #A0832F;
  overflow: auto;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
}
header #top-bar .hamburger {
  position: absolute;
  top: 0.672rem;
  left: 0.375rem;
  width: 9%;
  /* 58px/640px */
  z-index: 400;
}
header #top-bar .hamburger .ham-rect {
  width: 100%;
  height: 0.125rem;
  /* 2px/16px */
  background-color: white;
  margin-bottom: 0.375rem;
}
header #top-bar > h1 {
  margin: auto;
  font-family: "FF-Bau", "Helvetica Neue", helvetica, arial, sans-serif;
  font-weight: normal;
  color: white;
  font-size: 1.1875rem;
}
header nav {
  display: none;
  width: 62.5%;
  /* 400px/600px = 0.625 */
  background-color: lime;
  position: absolute;
  padding-left: 5%;
  /* 20px/400px = 0.05*/
  padding-right: 5%;
  left: 0;
  z-index: 200;
  box-sizing: border-box;
  color: #A0832F;
}
header nav h1 {
  font-size: 0.625rem;
  line-height: 1.4;
  font-weight: bold;
}
header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header nav ul li {
  font-size: 0.94rem;
  /* 36px/16px = 2.25 */
  margin-bottom: 0.78rem;
  /* 12.5px/16px = .783 */
  font-weight: normal;
}
header nav ul li a:link {
  text-decoration: none;
}
header nav ul li a:visited {
  color: inherit;
}
header nav ul li a:hover {
  color: #8500A5;
}
header nav ul li a:active {
  color: #8500A5;
}

main #progress-bar {
  width: 100%;
  height: 20px;
  background-color: rgba(150, 150, 150, 0.4);
  margin: 0;
  padding: 0 5%;
  box-sizing: border-box;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
main #progress-bar li {
  list-style-type: none;
  color: white;
  margin: 0.35rem 0;
}
main #progress-bar li div.circle {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: transparent;
  border: 1px solid white;
}
main #progress-bar .selected .circle {
  background-color: lime;
  border: none;
  width: 6px;
  height: 6px;
}

.text {
  position: relative;
  width: 100%;
  overflow: scroll-y;
  background-color: rgba(150, 150, 150, 0.4);
  background-image: none;
  padding: 0.5rem 5% 0.25rem 5%;
  transition: all 1s ease-in-out;
}
.text .question {
  font-weight: normal;
  font-size: 1em;
  line-height: 1.4em;
  letter-spacing: 0.01em;
  color: white;
  background-image: none;
  background-color: none;
}
.text form {
  padding-bottom: 4px;
}
.text form input[type=text] {
  width: 64.3%;
  border-radius: 0%;
  border: 1px solid #9D9D9D;
}
.text form button {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 2px;
  width: 28.5%;
  /* 160px/560px */
  float: right;
  box-sizing: border-box;
  padding-top: 4px;
}
.text form button:active {
  color: white;
  background-color: #8500A5;
  border: none;
}
.text .arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 13.9px 8px;
  border-color: transparent transparent #969696 transparent;
  margin: 3px auto;
  transition: transform 0.5s ease 300ms;
}

.map-trace {
  position: fixed;
  min-width: 35%;
  min-height: 30%;
  /*border: 1px solid green;*/
  background-color: rgba(150, 150, 150, 0.4);
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.top-bar {
  font-size: 10px;
  color: white;
}
.top-bar p {
  margin: 0;
  float: left;
}
.top-bar p span {
  display: inline-block;
  margin-left: 20px;
}

.adjust-height {
  min-height: 4%;
}

#compass-pointer {
  display: block;
  width: 16px;
}

.highlight {
  color: lime;
}

.error {
  color: #f92772;
}

#index-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
}

#index-title {
  margin: auto;
  width: 60%;
  text-align: center;
  color: #a18200;
}

#index-title h1 {
  font-size: 2em;
}

#index-title p:last-child {
  font-size: 1.5em;
  font-weight: bold;
  background-color: rgba(101, 200, 0, 0.7);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

#index-title a {
  color: white;
}

.clear {
  clear: both;
}

.green {
  background-color: lime !important;
}

.direction {
  -webkit-transform: rotate(180deg);
  /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  /* IE 9 */
  transform: rotate(180deg);
}

.close {
  top: -87.5%;
}

/**** Home Screen ***/
main > h1 {
  font-size: 3.82rem;
  color: #A0832F;
  text-align: center;
  margin-top: 7%;
  margin-bottom: 7%;
  font-weight: bold;
}
main > h1 span.dotted {
  border: 2px dotted #A0832F;
  display: block;
  margin: 0;
  position: absolute;
  color: #A0832F;
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #A0832F;
  font-size: 2rem;
  padding: 0.25rem;
}
main > h1 span.dotted:first-of-type {
  top: 22%;
  left: 6.25%;
  z-index: 20;
  -webkit-transform: rotate(-7deg);
  /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
  -moz-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  /* IE 9 */
  transform: rotate(-7deg);
}
main > h1 span.dotted:last-child {
  display: inline-block;
  position: relative;
  z-index: 20;
  -webkit-transform: rotate(10deg);
  /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  /* IE 9 */
  transform: rotate(10deg);
}

#home-menu {
  text-align: center;
}

button.non-game {
  box-sizing: border-box;
  width: 87.5%;
  height: 2.75rem;
  background-color: lime;
  border-top: none;
  border-left: none;
  border-right: 2px solid #A0832F;
  border-bottom: 2px solid #A0832F;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 0.625rem;
  padding-top: 0.5rem;
}
button.non-game:link {
  background-color: lime;
  text-decoration: none;
  color: white;
}
button.non-game:hover {
  background-color: #8500A5;
  color: black;
  border-right-color: black;
  border-bottom-color: black;
}
button.non-game:visited {
  background-color: lime;
  color: black;
}
button.non-game:active {
  background-color: #8500A5;
  color: black;
  border-right-color: black;
  border-bottom-color: black;
}
button.non-game a {
  color: inherit;
}

/**** Instructions Page *****/
#instructions-text {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.4em;
  letter-spacing: 0.01em;
  color: white;
  padding: 0 6%;
}

#start {
  margin: 1rem 6%;
}

/*# sourceMappingURL=main1.css.map */
